#title {
    text-align: center;
    color: white;
    background-color: green;
    border: 10px solid white;
    padding: 10px;
}

#choices {
    text-align: center;
    margin-top: 10px;
    border: 10px solid white;
    padding: 10px;
}

#main {
    min-height: 200px;
}